<h1>Products</h1>
<div class="card">
    <div class="card-head">Lorem ipsum - product 1</div>
    <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus dolorem et velit numquam, tempora deleniti sit nisi exercitationem, rem iure minima modi ipsa, accusantium soluta reprehenderit labore laudantium ab necessitatibus?
    </div>
</div>
<div class="card">
    <div class="card-head">Lorem ipsum - product 2</div>
    <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus dolorem et velit numquam, tempora deleniti sit nisi exercitationem, rem iure minima modi ipsa, accusantium soluta reprehenderit labore laudantium ab necessitatibus?
    </div>
</div>